@use '../abstracts/' as *;

.footer {
  &.footer {
    color: var(--footer-color, var(--color-on-primary));
    background-color: var(--color-primary);
    padding-block: 0;
    container: footer / inline-size;
    font-size: var(--fs-400);

    .section__inner {
      @include container-query(footer, lg) {
        padding-inline: var(--spacing-125);
      }
    }
  }

  &__title {
    font-size: var(--fs-500);
    color: var(--color-on-surface);
  }

  &__menu {
    &-list {
      margin-block-end: var(--spacing-250);
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: repeat(4, auto);
      gap: var(--spacing-250) var(--spacing-500);
    }

    &-item {
      margin-block-end: 0;
      white-space: nowrap;

      a {
        transition: color var(--transition-duration);
      }

      :where(&[aria-current], &:hover) a {
        color: var(--color-secondary);
      }
    }
  }

  &__socials {
    --_social-icon-size: 2.5rem;
    display: flex;
    gap: var(--spacing-125);
  }

  &__social {
    margin-block-end: 0;

    &-icon {
      display: block;
      width: var(--_social-icon-size);
      aspect-ratio: 1;
    }
  }

  &__subscribe {
    .wpcf7 {
      &-form {
        margin-block-end: 0;
      }

      &-form-control:not( &-acceptance ) {
        max-width: 18.75rem;
        background-color: transparent;
        border: none;
        border-bottom: .0625rem solid currentColor;
        color: var(--_wpcf7-ctrl-color, var(--color-on-surface));

        transition: background-color var(--transition-duration), border-color var(--transition-duration);

        &::placeholder {
          color: oklch( from var(--_wpcf7-ctrl-color) l c h / .5 );
        }

        &:where( :hover, :focus-visible ) {
          --_wpcf7-ctrl-color: var(--color-on-surface-dim);
          background-color: var(--color-surface-dim);
          border-color: var(--color-surface-dim);
        }
      }
    }
  }

  &__main {
    --_space-between-items: 5rem;

    padding-block: var(--spacing-375) var(--spacing-250);

    .section__inner {
      display: grid;
      grid-template-columns: repeat(var(--_cols, 1), minmax(0, 1fr));
      gap: var(--spacing-500) 0;
    }
  }

  &__bottom {
    padding-block: var(--spacing-125);
    text-align: center;
  }
  &__copyright, &__designed-by {
   margin-block-end: 0;
 }

  .back-to-top.active {
    color: var(--color-surface-dim);
    border-color: var(--color-surface-dim);

    &:is( :hover, :active) {
      background-color: var(--color-surface-dim);
      color: var(--color-on-surface-dim);
    }
  }

  @include container-query(footer, md) {
    &__main {
      .footer__title {
        text-align: center;
      }

      .wpcf7-form {
        width: fit-content;
        margin-inline: auto;

        .jins-button {
          margin-inline: auto;
        }
      }
    }
  }

  @include container-query(footer, md, gt) {
    &__main {
      --_cols: 2;
    }

    &__menu {
      justify-self: end;
      padding-inline-end: calc( var(--_space-between-items) / 2 );
      border-right: .0625rem solid var(--color-surface-dim);
    }
    
    &__subscribe {
      justify-self: start;
      padding-inline-start: calc( var(--_space-between-items) / 2 );
    }
  }
}

.fixed-social-icons {
  --_icon-size: clamp(2.5rem, 5vw, 3.75rem);
  position: fixed;
  z-index: 100;
  left: .9375rem;
  bottom: .9375rem;

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-125);
  }

  &__item {
    margin-block-end: 0;
    img {
      display: block;
      width: var(--_icon-size);
      height: var(--_icon-size);
    }
  }
}

.booking-popover {
  --_bg-color: var(--color-primary);
  --_border-radius: 2rem;
  --_spacing-with-outer: 1rem;
  --_outer-border-radius: calc( var(--_border-radius) + var(--_spacing-with-outer) / 2);
  --_translate-y: 5rem;
  --_space-between-control: var(--spacing-125);

  isolation: isolate;
  display: none;
  padding: clamp(var(--spacing-125), 3vw, var(--spacing-200));
  width: min( 25rem, 100% - var(--_spacing-with-outer) * 2 - 1rem );
  overflow: visible;
  outline: .0625rem solid var(--color-surface-dim);
  border-radius: var(--_border-radius) 0;

  opacity: 0;
  translate: 0 var(--_translate-y);

  transition-behavior: allow-discrete;
  transition-property: display, overlay, opacity, translate;
  transition-duration: 400ms;

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: calc(var(--_spacing-with-outer) * -1);
    left: calc(var(--_spacing-with-outer) * -1);
    width: calc( 100% + var(--_spacing-with-outer) * 2);
    height: calc( 100% + var(--_spacing-with-outer) * 2);
    background-color: var(--_bg-color);
    border-radius: var(--_outer-border-radius) 0;
  }

  &::backdrop {
    background-color: oklch( 0 0 0 / .75 );
  }

  &:popover-open {
    display: block;
    opacity: 1;
    translate: 0 0;

    @starting-style {
      opacity: 0;
      translate: 0 calc( -1 * var(--_translate-y) );
    }
  }

  &__close-btn {
    position: absolute;
    top: .625rem;
    right: .625rem;

    &:hover {
      color: var(--color-secondary);
    }
  }

  .section__title {
    text-transform: capitalize;
    margin-block-end: var(--spacing-400);
  }

  .wpcf7 {
    --_form-control-border-color: var(--color-on-surface);

    &-form {
      margin-block-end: 0;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 0 var(--spacing-125);
    }

    &-form-control-wrap:not([data-name=your-phone], [data-name=your-email], [data-name=booking-date], [data-name=booking-time]),
    &__form-group,
    .jins-button {
      grid-column: 1 / -1;
    }

    &-form-control {
      margin-block-end: var(--_space-between-control);
      border-color: var(--_form-control-border-color);
    }

    &__form-group {
      padding: .625rem;
      margin-block-end: var(--_space-between-control);
      border: .0625rem solid var(--_form-control-border-color);
      border-radius: .3125rem;
      background-color: var(--color-surface);

      label {
        margin-block-end: 0;
      }
    }

    input[type=checkbox] {
      margin-inline-end: var(--spacing-50);
      margin-block-end: 0;
    }
  }
}