/* ================================= */
/* =            Pricing            = */
/* ================================= */
.pricing {
  .section__header {
    margin-block-end: var(--spacing-500);
  }

  &__item {
    display: grid;
    grid-template-columns: minmax(0, 1fr);

    & + & {
      margin-block-start: var(--spacing-400);
    }

    &-title {
      grid-column: 1 / -1;
      text-align: center;
      margin-block-end: var(--spacing-400);
    }

    .swiper {
      height: 100%;
    }

    .swiper-slide {
      height: auto;
    }

    &-img, &-img > img {
      display: block;
      width: 100%;
      height: 100%;
    }

    &-img > img {
      object-fit: cover;
    }
  }


  @include container-query(content, md, gt) {
    &__item {
      grid-template-columns: minmax(0, 1fr) calc(100% / 12 * 5);
    }
  }
}