.header {
  container: header / inline-size;

  .header-bottom {
    .flex-col {
      flex: 1 0 100%;
    }

    &-nav {
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      gap: var(--spacing-500);

      & > .menu-item {
        margin-inline: 0;

        & > a {
          padding-block: var(--spacing-250);
        }
      }

      & > .current-menu-item > a {
        text-decoration: underline;
      }
    }
  }

  .menu-item a {
    font-size: var(--fs-500);
  }

  .jins-button {
    --_padding-inline: var(--spacing-500);
  }
}