.introduction {
  &__image {
    margin-block-end: var(--spacing-500);
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0 2rem;
    border: .125rem solid var(--color-surface);
    box-shadow: var(--shadow-400);
  }

  .section__sub-title {
    margin-block-end: 0;
    display: block;
    font-size: var(--fs-200);
    color: var(--color-secondary);
  }

  .section__content {
    text-align: center;
  }
}

.mission-vision {
  &__block {
    text-align: center;
    
    &-image {
      margin-block-end: var(--spacing-200);
      display: block;
      width: 100%;
      aspect-ratio: 3/2;
      border-radius: .625rem;
    }
  }

  @include container-query( content, md, gt ) {
    .section__inner {
      --_grid-cols: 2;
      --_grid-gap: var(--spacing-600);
    }
  }
}