@use '../components/customer-review-section';
/* ================================= */
/* =          Hero section         = */
/* ================================= */
.hero {
  container-type: inline-size;
  padding-block: 0;
  display: block;

  &__item {
    display: grid;

    & > * {
      grid-area: 1 / 1 / 2 / 2;
    }

    &-banner {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-height: 32rem;
    }

    &-content {
      align-self: start;
      margin-inline: auto;
      padding-block: 3.125rem;
      padding-inline: clamp(3.125rem, 5cqi, 5rem);
      width: min( 31.25rem, 100%);
      height: 100%;
      background-color: oklch( from var(--color-surface) l c h / .5 );

      display: grid;
      align-items: center;
      gap: var(--spacing-375);

      text-align: center;

      @container ( width > 700px ) {
        margin-inline-end: 6.25rem;
      }
    }

    &-title, &-sub-title, &-description {
      color: var(--color-on-surface);
      margin-block-end: 0;
    }

    .jins-pagination {
      --swiper-pagination-color: var(--color-primary);
    }
  }
}
/* ================================= */
/* =         About section         = */
/* ================================= */
.about {
  padding-block-end: var(--space-between-section);

  .section__inner {
    display: grid;
    grid-template-columns: repeat( var(--_cols, 1), minmax(0, 1fr) );
    align-items: center;
    gap: var(--spacing-800);
  }

  .section__title, .section__description {
    margin-bottom: var(--spacing-375);
  }

  @include container-query( content, md, gt ) {
    --_cols: 2;
  }
}
/* ================================= */
/* =          Our Services         = */
/* ================================= */
.our-services {
  --_space-between-item: clamp(6rem, 15cqi, 12rem);
  padding-block-end: var(--space-between-section);
  background-color: var(--color-primary);

  .section__inner {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
  }

  &__title-wrapper {
    align-self: start;
    padding-inline-end: var(--_padding-space, 0);
  }

  .section__title {
    color: var(--color-on-primary);
  }

  &__services {
    container-type: inline-size;
    padding-inline-start: var(--_padding-space, 0);

    &-grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: var(--spacing-200);

      @container ( width < 600px ) {
        grid-template-columns: minmax(0, 1fr);
      }
    }
  }

  .jins-card {
    --_card-thumbnail-aspect-ratio: 5/3;
    --_card-border-radius: .5rem;
    --_fixed-height: true;

    &__content {
      background-color: var(--color-surface);
    }

    &__excerpt {
      --_line-clamp: 3;
    }

    &__read-more {
      --_text-color-hover: var(--color-on-surface);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @include container-query( content, md, gt ) {
    --_padding-space: calc( var(--_space-between-item) / 2 );

    .section__inner {
      grid-template-columns: calc( 100% / 3 ) minmax(0, 1fr);
    }
  }
}
/* ================================= */
/* =         Why choose us         = */
/* ================================= */
.why-choose-us {
  .section__title {
    text-align: center;
    margin-block-end: 0;
  }

  &__header {
    margin-block-end: var(--spacing-800);
  }

  &__reasons {
    display: grid;
    grid-template-columns: repeat(var(--_cols, 1), minmax(0, 1fr));
    gap: clamp(var(--spacing-250), 3cqi, var(--spacing-500) );
  }

  .jins-card {
    --_card-thumbnail-aspect-ratio: 16/9;

    text-align: center;

    &__excerpt {
      --_line-clamp: 3;
    }
    
    &__thumbnail {
      border-radius: .5rem;
    }
  }

  @include container-query( content, md, gt ) {
    --_cols: 3;
  }
}